.expertMobile__titleOne {
    text-align: center;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 5%;
}

.expertMobile__titleTwo {
    border-left: 2px solid #8E00FF;
    padding-left: 2%;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3%;
}

.expertMobile__textSuccess {
    color: #9100FF;
    font-weight: 600;
}

.expertMobile__elementDivImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.expertMobile__elementTitle {
    font-weight: 600;
}

.expertMobile__elementText {
    font-weight: 400;
}

.expertMobile__number {
    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin-top: -10%;
}
