.expertise {
    clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
    background: linear-gradient(145.79deg, #A800FF -33.27%, #8000FF 162.77%);
}


.expertise__titleOne {
    padding-top: 20%;
    padding-bottom: 1%;
    text-align: center;
    color: #fff;
    font-weight: 600;
}
.expertise__titleTwo {
    text-align: left;
    color: white;
    padding-bottom: 2%;
}
.linkInExpertise {
    text-decoration: none;
    color: black;
}

@media(max-width: 481px) {
    .expertise__titleOne {
        padding-top: 18vh;
        padding-bottom: 2%;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: calc(1.175rem + 2.7vw);
    }
    .expertise__titleTwo {
        font-size: calc(1.04rem + .3vw);
    }
}
