.formMobile {
    height: 27rem;
    margin: 5%;
    background: #f8f8f8;
    border-radius: 4%;
}

.formMobile__element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 7%;
}
