.headerMobile {
    background: #F8F8F8;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.headerMobile__row {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMobile__inBurgerLogo {
    margin: 8%;
}

.headerMobile__logo {
    width: 40%;
    object-fit: contain;
}

.headerMobile__logoInLeftWindow {
    width: 62%;
    object-fit: contain;
    margin-left: 5%;
}
.burger__img {
    object-fit: contain;
}

a.aLinkInHeader {
    margin-left: 0.5rem;
}

.logo__burger {
    width: 55%;
    display: none;
}

.messengersIcon {
    width: 100%;
    object-fit: contain;
}


.messengers {
    margin-left: auto;
    padding-top: 0.6%;
    display: flex;
}
.messengersBlack {
    position: absolute;
    bottom: 0;
    margin-left: 13%;
}
.messengersIconBlack {
    width: 100%;
}

.textLogotypeCompanyInBurger {
    margin-top: 7%;
    font-size: 11px !important;
}
.bm-item.headerMobile__inBurgerLogo.d-flex {
    outline: none;
}
.bm-item.forLinkInWindowLeft.d-flex.flex-column {
    margin: 10%;
}
.nameLinkInHeaderLeftWindow {
    font-weight: 600;
    margin-left: 13%;
    padding: 1%;
}

@media (max-width: 481px) {
    .nameLinkInHeaderLeftWindow {
        font-weight: 600;
        margin-left: 13%;
        font-size: calc(1rem + .6vw);
    }
    .headerMobile__logo {
        width: 45%;
    }

    .menu-item {
        color: black;
        padding-left: 4.5%;
        font-size: 1.2rem;
    }

    .bm-menu-wrap {
        width: 55% !important;
    }

    .messengersIcon {
        padding-top: 5%;
    }
    .logo__burger {
        width: 50%;
        margin-bottom: 7%;
    }
}


