.headerMobile {
    background: #F8F8F8;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.headerMobile__row {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMobile__inBurgerLogo {
    width: 130%;
    object-fit: contain;
    padding-left: 2.2%;
}

.headerMobile__logo {
    width: 50%;
    padding-top: 0.6%;
    object-fit: contain;
}

.logo__burger {
    width: 55%;
}

.messengersIcon {
    width: 80%;
    padding-top: 30%;
    margin-left: 5%;
    object-fit: contain;
}


.messengers {
    margin-left: auto;
    padding-top: 0.6%;
    display: flex;
}
.messengersBlack {
    position: absolute;
    bottom: 0;
    margin-left: 6%;
}
.messengersIconBlack {
    width: 25%;
    margin-right: 0.3rem;
}

.textLogotypeCompanyInBurger {
    margin-top: 1%;
    font-size: 9px !important;
}

@media (max-width: 481px) {
    .headerMobile__logo {
        width: 55%;
        padding-left: 2%;
    }

    .menu-item {
        color: black;
        padding-left: 4.5%;
        font-size: 1.2rem;
    }

    .bm-menu-wrap {
        width: 55% !important;
    }

    .messengersIcon {
        width: 83%;
        padding-top: 5%;
        margin-left: 7%;
        object-fit: contain;
    }
    .logo__burger {
        width: 50%;
        margin-bottom: 7%;
    }
}


