.partnersMobile {
    height: 15rem;
    background: #ECECEC;
    -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}

i.bi.bi-youtube {
    vertical-align: -13%;
}

.partnersMobile__SeeCasesTitleh2 {
    padding-top: calc(7rem + 2.1vw);
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: blueviolet;
}

.partnersMobile__DivForTitle {
    background: linear-gradient(
            161.95deg, #a800ff -9.3%, #8000ff 63.5%);
}

.partnersMobile__titleOne {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    padding-top: 5%;
}

.partnersMobile__titleTwo {
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.partnersMobileSlider {
    margin-top: 10%;
}

.bi-youtube {
    padding-left: 1%;
}

.carousel__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__img img {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.whyAreWe__titleOne {
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
}

.whyAreWe__titleTwo {
    color: #fff;
    font-weight: 600;
}

.whyAreWe__text {
    font-weight: 300;
    color: #ffffff;
}

.whyAreWe__element {
    margin-top: 4%;
    margin-bottom: 4%;
}

.whyAreWeForButton {
    background: #8000FF;
    height: 10vh;
    /* margin-top: 5.8px; */
    padding-top: 5%;
    margin-top: -5%;
}

.whyAreWe__btnSeeCases {
    background: #FFFFFF;
    border: none;
    height: 2.5rem;
    color: #3857F9;
    outline: none;
    border-radius: 35px;
    width: 45%;
    box-shadow: 0px 10px 17px rgb(0 0 0 / 40%);
    font-size: calc(0.95rem + .3vw);
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: 800;
}

.tenMobile {
    background: #8000FF;
    margin-top: 10%;
}

.tenMobile__number {
    color: #FFFFFF;
    font-size: 13rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tenMobile__numberTitle {
    color: #fff;
    font-weight: bold;
    margin-top: -10%;
    margin-bottom: 10%;
}

.tenMobile__numberPlus {
    font-size: 5rem;
}

.tenMobile__yogImg {
    position: absolute;
    right: 0;
    margin-top: -69%;
    width: 26%;
}

.tenMobile__row {
    margin-left: 3%;
}

.logoInTen {
    margin-top: 15%;
}

@media (max-width: 481px) {
    .partnersMobile__titleOne {
        padding-top: 10vh;
    }

    .tenMobile__yogImg {
        position: absolute;
        right: 0;
        margin-top: -103%;
        width: 40%;
    }
}

@media (max-width: 421px) {
    .tenMobile__yogImg {
        margin-top: -109%;
    }
}

@media (max-width: 390px) {
    .tenMobile__yogImg {
        margin-top: -110%;
    }
}

@media (max-width: 377px) {
    .tenMobile__yogImg {
        margin-top: -116%;
    }
}
