.workMobile__titleTwo {
    text-align: left;
    font-weight: bold;
    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    padding-left: 4%;
    text-align: left;
    border-left: 4px solid #c401ff;
    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 8s ease-in-out infinite alternate;
    text-transform: uppercase;
    outline: none;
    font-size: calc(1.125rem + 2.1vw);
}
.imgHomeForLinkInMobileWorks {
    width: 80%;
    object-fit: contain;
    margin-top: 10%;
}
@keyframes textShine {
    to {
        background-position: 200%;
    }
}

.div {
    background: #EDEAEA;
    padding-top: 5%;
}
.divUiUx {
    padding-top: 5%;
}

@media (max-width: 992px) {
    .slick-slide img {
        display: block;
        height: 400px;
        width: 400px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }
    ul.slick-dots {
        display: none!important;
    }
    .arrowSliderRight {
        padding-left: 1rem;
    }
    .arrowSliderLeft {
        padding-right: 1rem;
    }
    .textForArrow {
        color: #959595;
        font-weight: 500;
        margin-top: 1.2%;
    }
    .sliderMobile__titleTwo {
        font-weight: bold;
    }
    .arrowForChangeImage {
        font-size: 2rem;
    }
    button.slick-arrow.slick-prev {
        display: none!important;
    }
    button.slick-arrow.slick-next {
        display: none!important;
    }

}


@media(max-width: 480px) {
    .slick-slide img {
        display: block;
        height: 350px;
        width: 300px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }
    .textForArrow {
        font-size: 0.8rem;
    }
    h3.d-flex {
        font-size: calc(1.1rem + .6vw);
    }
}


@media(max-width: 391px) {
    .slick-slide img {
        display: block;
        height: 350px;
        width: 275px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
    }
}
