.custom {
    width: 100%;
    display: flex;
    height: 100vh;
    padding-top: 7rem;
    margin-bottom: 21rem;
}

.custom__left {
    width: 50%;
    padding-left: 4.5rem;
}

.custom__leftTitle {
    font-weight: bold;
    background: linear-gradient(45deg, #ac55ba 33%, #5964f4 66%, #7b5cdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom__right {
    width: 38%;
    padding-top: 1.5rem;
}

.custom__rightTitle {
    font-size: 51px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 20px;
}

.custom__rightText {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}

.custom__rightSubtitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.vectorSmartCustom {
    height: 500px;
    width: 815px;
    margin-top: 3rem;
}

.customTitle {
    font-weight: bold;
}

