.custom {
    width: 100%;
    display: flex;
    height: 100vh;
    padding-top: 7rem;
    margin-bottom: 21rem;
}

.custom__left {
    width: 50%;
    padding-left: 4.5rem;
}

.custom__leftTitle {
    font-weight: bold;
    background: linear-gradient(45deg, #ac55ba 33%, #5964f4 66%, #7b5cdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom__right {
    width: 38%;
    padding-top: 1.5rem;
}

.custom__rightTitle {
    font-size: 51px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 20px;
}

.custom__rightText {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}

.custom__rightSubtitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.vectorSmartCustom {
    height: 500px;
    width: 815px;
    margin-top: 3rem;
}

.customTitle {
    font-weight: bold;
}


.btnCustom {
    width: 13.5rem;
    height: 2.4rem;
    background: #ffffff;
    opacity: 2;
    border-radius: 32px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    margin-top: -14rem;
    margin-left: 6rem;
}

.btnCustom-twoSloy {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 32px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnCustom-threeSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #5964f4;
}

.btnCustom-threeSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #5964f4;
}

.btnCustom-fourSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #5964f4;
}

.btnCustom-fourSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #5964f4;
}

.btnCustom-fourSloyTitle {
    padding: 0.5rem;
    color:#ffffff;
}


@media (max-width: 1025px) {
    .custom {
        width: 100%;
        display: flex;
        height: 100vh;
        padding-top: 3rem;
        margin-bottom: 30rem;
    }
    .btnCustom {
        margin-top: -10rem;
        margin-left: 4rem;
    }

    .btnCustom, .btnCustom-twoSloy {
        width: 10.5rem;
        height: 2rem;
        border: 1px solid #ededef;
    }

    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 6.5rem;
        height: 2rem;
    }

    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 10.5rem;
        height: 2rem;
    }
    .btnCustom-fourSloyTitle {
        font-size: 14px;
    }
}

@media(max-width: 769px) {
    li {
        font-size: 1rem;
        line-height: 1rem;
    }
    .custom {
        margin-bottom: 23rem!important;
    }
    .custom__rightSubtitle {
        padding-bottom: 4px;
    }

    .btnCustom {
        margin-top: -8rem;
        margin-left: 3rem;
    }

    .btnCustom, .btnCustom-twoSloy {
        width: 7.5rem;
        height: 1.4rem;
    }
    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 5rem;
        height: 1.4rem;
    }
    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 7.5rem;
        height: 1.4rem;
    }
    .btnCustom-fourSloyTitle {
        font-size: 0.63rem;
        padding-top: 5px;
    }
    .ellipse-btnStarBefore {
        width: 0.6rem;
        height: 0.6rem;
        margin-right: 0.7rem;
    }

    .ellipse-btnStarAfter {
        margin-left: 5.5rem;
    }
    .custom__leftTitle {
        font-size: 3rem;
    }
}

@media(max-width: 426px) {
    .custom {
        padding-top: 2rem;
        margin-bottom: 0rem!important;
    }
    .customTitle {
        font-size: 0.8rem;
    }
    li {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
    .custom__rightSubtitle {
        padding-bottom: 0px;
    }
    .btnCustom, .btnCustom-twoSloy {
        width: 5.5rem;
        height: 1.1rem;
    }
    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 3.4rem;
        height: 1.1rem;
    }
    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 5.5rem;
        height: 1.1rem;
    }
    .btnCustom-fourSloyTitle {
        font-size: 0.6rem;
    }
    .ellipse-btnStarBefore {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
    }
    .btnCustom-fourSloyTitle {
        font-size: 0.38rem;
        padding-top: 5px;
    }

    .ellipse-btnStarAfter {
        margin-left: 6.5rem;
    }
    .btnCustom {
        margin-top: -5rem;
        margin-left: 2rem;
    }
    .custom__leftTitle {
        font-size: 1.7rem;
    }
}

@media(max-width: 376px) {
    .btnCustom {
        margin-top: -3.5rem;
        margin-left: 1rem;
    }
    .custom__leftTitle {
        font-size: 1.4rem;
    }

    .btnCustom, .btnCustom-twoSloy {
        width: 4rem;
        height: 0.8rem;
    }
    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 2.3rem;
        height: 0.8rem;
    }
    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 4rem;
        height: 0.8rem;
    }
    .btnCustom-fourSloyTitle {
        font-size: 3px;
    }
    .ellipse-btnStarBefore {
        width: 0.35rem!important;
        height: 0.35rem!important;
    }

    .ellipse-btnStarAfter {
        margin-left: 4.5rem;
    }
    .custom {
        height: 54vh;
    }
    .customTitle {
        font-size: 0.6rem;
    }
    li {
        font-size: 0.3rem;
        line-height: 0.3rem;
    }
    .customTitle {
        font-size: 0.4rem;
    }
}

@media (max-width: 321px) {
    .custom {
        height: 56vh;
        padding-top: 1rem;
    }
}