.cap {
    width: 100%;
}

.cap__title {
    font-weight: bold;
}

.cap__image {
    margin-top: 1.7rem;
}

.cap__row {
    margin-top: 4rem;
}

.cap__leftTitle {
    font-size: 7rem;
    /*font-family: 'Work Sans', sans-serif;*/
    font-weight: bold;
    background: linear-gradient(45deg, #ac55ba 33%, #5964f4 66%, #7b5cdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 1025px) {
    .cap__leftTitle {
        font-size: 5rem;
    }
}

@media(max-width: 769px) {
    .cap__leftTitle {
        font-size: 4rem;
    }

    .cap__image {
        margin-top: 1rem;
    }

    .cap__row {
        margin-top: 2rem;
    }
}

@media(max-width: 426px) {
    .cap__leftTitle {
        font-size: 2rem;
    }
    .cap__image {
        margin-top: 0.4rem;
    }
    .cap__row {
        margin-top: 1.5rem;
    }
}

@media(max-width: 321px) {
    .cap__leftTitle {
        font-size: 1.5rem;
    }

    .cap__row {
        margin-top: 1rem;
    }

    .cap__image {
        margin-top: 0.3rem;
    }
}