.cap {
    width: 100%;
}

.cap__title {
    font-weight: bold;
}

.cap__image {
    margin-top: 1.7rem;
}

.cap__row {
    margin-top: 4rem;
}

/*.cap__leftTitle {*/
/*    font-size: 7rem;*/
/*    !*font-family: 'Work Sans', sans-serif;*!*/
/*    font-weight: 800;*/
/*    background: linear-gradient(330deg,#4d02f5 0%, #c401ff 75%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/

.cap__leftTitle {
    font-size: 7rem;
    font-weight: 800;
    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 8s ease-in-out infinite alternate;
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}

@media(max-width: 1025px) {
    .cap__leftTitle {
        font-size: 5rem;
    }
    .col-7 {
        margin-bottom: -0.5rem!important;
    }
}

@media(max-width: 769px) {
    .cap__leftTitle {
        font-size: 4rem;
    }

    .cap__image {
        margin-top: 1rem;
    }

    .cap__row {
        margin-top: 2rem;
    }
    .col-7 {
        margin-bottom: -2.8rem;
    }
}

@media(max-width: 426px) {
    .cap__leftTitle {
        font-size: 2rem;
    }
    .cap__image {
        margin-top: 0.4rem;
    }
    .cap__row {
        margin-top: 1.5rem;
    }
    .col-7 {
        margin-bottom: -1.5rem;
    }
}

@media(max-width: 321px) {
    .cap__leftTitle {
        font-size: 1.5rem;
    }

    .cap__row {
        margin-top: 1rem;
    }

    .cap__image {
        margin-top: 0.3rem;
    }
    .col-7 {
        margin-bottom: -1.1rem;
    }
}