.circle-icons {
    position: relative;
    z-index: -1;
    height:17rem;
    width: 23rem;
    border-radius: 50%;
    -webkit-animation: circleIcons 10s infinite;
    animation: circleIcons 10s infinite;
}

@-webkit-keyframes circleIcons {
    0% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(356deg);

    }
}

@keyframes circleIcons {
    0% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(356deg);

    }
}

img {
    height: 50px;
    width: 50px;
    position: absolute;
}

.message {
    margin-left: 1.3rem;
    margin-top: 4rem;
}

.back {
    margin-left: 4.2rem;
    margin-top: 2.8rem;
    width: 40px;
    height: 30px;
}

.wifi {
    margin-left: 3.5rem;
    margin-top: 0.5rem;
    width: 50%;
    height: 50%;
}

.call {
    margin-left: 6.5rem;
    margin-top: -2rem;
    width: 60%;
    height: 60%;
}

.home {
    margin-left: 12.5rem;
    margin-top: 0.2rem;
    width: 50%;
    height: 50%;
}

.browser {
    margin-left: 8.5rem;
    margin-top: 2rem;
    width: 50%;
    height: 50%;
}

.message2 {
    margin-left: 13.5rem;
    margin-top: 4rem;
    width: 50%;
    height: 50%;
}

.settings {
    margin-left: 9.5rem;
    margin-top: 6rem;
    width: 50%;
    height: 50%;
}

.camera {
    margin-left: 5.5rem;
    margin-top: 8rem;
    width: 50%;
    height: 50%;
}

.contact {
    margin-left: 0.5rem;
    margin-top: 7rem;
    width: 50%;
    height: 50%;
}

