.expert {
    position: relative;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 50% 100%, 0 87%, 0 0);
    height: fit-content;
    background: #ededef;
    z-index: 10;
}

.expert__line {
    display: flex;
    align-items: center;
    -webkit-animation: aligning 2s infinite;
    animation: aligning 2s infinite;
    height: 600px;
    margin-top: -54px;
}
.expert__lineFirst {
    display: flex;
    align-items: center;
}

.expert-row {
    display: flex;
    align-items: center;
}

.expertTitle {
    font-weight: bold;
    text-align: right;
}

.expertText {
    text-align: right;
}
.expertTitleRight {
    font-weight: bold;
}

.expertLeft {
    padding-right: 2rem;
}

.expertRight {
    padding-left: 3rem;
}

.expertLastRow {
    padding-bottom: 12rem;
}

.img-yog {
    width: 25rem;
    height: 25rem;
    -webkit-animation: aligning 3s infinite;
    animation: aligning 3s infinite;
}

.expertTitleFirst {
    font-weight: bold;
    color: #3f00fd;
}

.expertRocket {
    margin-bottom: -15rem;
}
@-webkit-keyframes aligning {
    0% {
        padding-right: 0px;
    }
    50% {
        padding-right: 20px;
    }
    100% {
        padding-right: 0px;
    }
}

@keyframes aligning {
    0% {
        padding-right: 0px;
    }
    50% {
        padding-right: 20px;
    }
    100% {
        padding-right: 0px;
    }
}
.expert__lineLeft {
    width: 50%;
    margin-right: 50px;
}
.expert__lineRight {
    width: 50%;
    margin-left: 50px;
}

.expert__lineText {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
    text-align: right;
}

.expert__lineFirstTitle {
    font-size: 57px;
    line-height: 85px;
    color: #4000ff;
    font-weight: 700;
    font-family: "Work Sans";
}

.expert__lineTitle {
    font-size: 51px;
    line-height: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Work Sans";
    text-align: right;
}

.expert__lineImage {
    object-fit: contain;
}

.expert__lineLast {
    padding-bottom: 194px;
}

.expert__lineRightYog {
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@media(max-width: 1025px) {
    .table {
        width: 350px;
        height: 350px;
    }
    .kon {
        width: 350px;
        height: 350px;
    }
    .kind {
        position: absolute;
        width: 350px;
        height: 350px;
        animation: kind 6s infinite;
    }
}

@media(max-width: 769px) {
    .animateRocket {
        height: 650px;
        padding: 11rem;
        padding-top: 16rem;
        padding-left: 7rem;
    }
}
