.expert {
    position: relative;
    clip-path: polygon(46% 0, 100% 0, 100% 100%, 50% 100%, 0 87%, 0 0);
    height: fit-content;
    background: #ededef;
    z-index: 10;
}

.expert__line {
    display: flex;
    align-items: center;
    -webkit-animation: aligning 2s infinite;
    animation: aligning 2s infinite;
    height: 600px;
    margin-top: -54px;
}

.expert__lineFirst {
    display: flex;
    align-items: center;
}

.expert-row {
    display: flex;
    align-items: center;
}

.expertTitle {
    font-weight: bold;
    text-align: right;
}

.expertText {
    text-align: right;
}

.expertTitleRight {
    font-weight: bold;
}

.expertLeft {
    padding-right: 2rem;
}

.expertRight {
    padding-left: 3rem;
}

.expertLastRow {
    padding-bottom: 12rem;
}

.img-yog {
    width: 25rem;
    height: 25rem;
    -webkit-animation: aligning 3s infinite;
    animation: aligning 3s infinite;
}

.expertTitleFirst {
    font-weight: bold;
    color: #3f00fd;
}

.expertRocket {
    margin-bottom: -15rem;
}

@-webkit-keyframes aligning {
    0% {
        padding-right: 0px;
    }
    50% {
        padding-right: 20px;
    }
    100% {
        padding-right: 0px;
    }
}

@keyframes aligning {
    0% {
        padding-right: 0px;
    }
    50% {
        padding-right: 20px;
    }
    100% {
        padding-right: 0px;
    }
}

.expert__lineLeft {
    width: 50%;
    margin-right: 50px;
}

.expert__lineRight {
    width: 50%;
    margin-left: 50px;
}

.expert__lineText {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    font-weight: 300;
    text-align: right;
}

.expert__lineFirstTitle {
    font-size: 57px;
    line-height: 85px;
    color: #4000ff;
    font-weight: 700;
    font-family: "Work Sans";
}

.expert__lineTitle {
    font-size: 51px;
    line-height: 60px;
    color: #000000;
    font-weight: 700;
    font-family: "Work Sans";
    text-align: right;
}

.expert__lineImage {
    object-fit: contain;
}

.expert__lineLast {
    padding-bottom: 194px;
}

.expert__lineRightYog {
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@keyframes pulsing {
    0% {
        padding-top: 0rem;
    }
    50% {
        padding-top: 5rem;
    }
    100% {
        padding-top: 0rem;
    }
}

@media (max-width: 1025px) {
    .animateRocket {
        margin-left: -8rem;
    }

    .kon, .kind, .table {
        width: 350px !important;
        height: 350px !important;
    }

    .kon {
        -webkit-animation: kon1024 6s infinite !important;
        animation: kon1024 6s infinite !important;
    }

    .kind {
        -webkit-animation: kind1024 6s infinite !important;
        animation: kind1024 6s infinite !important;
    }

    .img-yog {
        width: 20rem;
        height: 20rem;
    }

    @-webkit-keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 5rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
}

@media (max-width: 769px) {
    .animateRocket {
        margin-left: -12rem;
        width: 650px;
        height: 650px;
    }

    .kon, .kind, .table {
        width: 300px !important;
        height: 300px !important;
    }

    .kon {
        -webkit-animation: kon1024 6s infinite !important;
        animation: kon1024 6s infinite !important;
    }

    .kind {
        -webkit-animation: kind1024 6s infinite !important;
        animation: kind1024 6s infinite !important;
    }

    @-webkit-keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind1024 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    .stone {
        position: relative;
        z-index: -1;
        width: 3rem !important;
        height: 3rem !important;
    }

    .line {
        position: absolute;
        z-index: 1;
        width: 16rem !important;
        height: 16rem !important;
        margin-top: -7.5rem !important;
        margin-left: -9.5rem !important;
        margin-bottom: 0.8rem !important;
        -webkit-animation: line 7s infinite;
        animation: line 7s infinite;
    }

    .scalesRocket {
        height: 33.6rem !important;
        width: 23rem !important;
        margin-top: -17.7rem;
        margin-left: -13rem!important;
        -webkit-animation: scalesRocket768 7s infinite;
        animation: scalesRocket768 7s infinite;
    }

    .scalesRocketRight {
        height: 6.8rem !important;
        width: 5rem !important;
        margin-left: 6.4rem!important;
        margin-top: -5.5rem;
    }

    .rocket {
        width: 22rem !important;
        height: 35rem !important;
        margin-left: -6.2rem !important;
    }

    .animateHorse {
        margin-left: -1rem;
    }

    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 1.6rem;
    }

    p {
        font-size: 12px !important;
    }

    .expertTwoRow {
        height: 12rem;
    }

}

@media(max-width: 426px) {
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 0.7rem;
    }
    p {
        font-size: 8px !important;
    }
    .expertTwoRow {
        height: 20rem;
    }
    .expertLeft {
        padding-right: 0.5rem;
    }

    .expertRight {
        padding-left: 0.5rem;
    }
    .expertRocket {
         margin-bottom: 0rem;
    }
    .stone {
        width: 2rem !important;
        height: 2rem !important;
        margin-left: -3.2rem;
    }
    .line {
        width: 9rem !important;
        height: 9rem !important;
        margin-top: -4.1rem !important;
        margin-left: -5.3rem !important;
        animation: line 7s infinite!important;
    }
    .scalesRocket {
        height: 33.6rem !important;
        width: 15rem !important;
        margin-top: -17.7rem;
        margin-left: -11rem!important;
        animation: scalesRocket426 7s infinite!important;
    }
    .scalesRocketRight {
        height: 5.8rem !important;
        width: 3.5rem !important;
        margin-left: 0.4rem!important;
        margin-top: -5.5rem;
        animation: scalesRocketRight426 7s infinite!important;
    }
    .rocket {
        width: 17rem !important;
        height: 37rem !important;
        margin-left: -9.5rem !important;
        animation: rocket426 7s infinite;
    }
    @-webkit-keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @keyframes scalesRocket426 {
        0% {
            margin-top: -19.6rem;
        }
        50% {
            margin-top: -21.5rem;
        }
        100% {
            margin-top: -19.6rem;
        }
    }

    @-webkit-keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    @keyframes scalesRocketRight426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    @-webkit-keyframes rocket426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }

    @keyframes rocket426 {
        0% {
            margin-top: -4.7rem;
        }
        50% {
            margin-top: -2.6rem;
        }
        100% {
            margin-top: -4.7rem;
        }
    }
    .expertTwoRow {
        height: 20rem;
        margin-bottom: -13rem;
    }

    .kon, .kind, .table {
        width: 160px !important;
        height: 156px !important;
    }
    .animateRocket {
        width: 400px!important;
        height: 400px!important;
        padding: 15rem!important;
        padding-left: 20rem!important;
        padding-top: 20rem!important;
    }
    .expertRocket {
        margin-bottom: -13rem;
    }
    .expertLastRow {
        padding-bottom: 5rem;
    }
    .expertOneRow {
        margin-bottom: -3rem;
    }

    .kon {
        animation: kon425 6s infinite!important;
    }

    .kind {
        animation: kind425 6s infinite!important;
    }
    @-webkit-keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kind425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: 2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
    @-webkit-keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }

    @keyframes kon425 {
        0% {
            margin-left: 0rem;
        }
        50% {
            margin-left: -2rem;
        }
        100% {
            margin-left: 0rem;
        }
    }
}

@media(max-width: 376px) {
    .expertTitleFirst, .expertTitle, .expertTitleRight {
        font-size: 0.6rem;
    }
    p {
        font-size: 5px !important;
    }
    .stone {
        width: 1.3rem !important;
        height: 1.3rem !important;
    }
    .line {
        width: 7rem !important;
        height: 7rem !important;
        margin-top: -3.1rem !important;
        margin-left: -4.3rem !important;
    }
    .scalesRocket {
        height: 35.6rem !important;
        width: 11rem !important;
        margin-top: -17.7rem;
        margin-left: -9.5rem!important;
        animation: scalesRocket426 7s infinite!important;
    }
    .scalesRocketRight {
        height: 6.6rem !important;
        width: 2.5rem !important;
        margin-left: -0.5rem!important;
        margin-top: -5.5rem;
    }
    .rocket {
        width: 15rem !important;
        height: 39rem !important;
        margin-left: -9.5rem !important;
    }
    .animateRocket {
        padding-left: 18.5rem!important;
    }
    .kon, .kind, .table {
        width: 129px !important;
        height: 120px !important;
    }
}

@media(max-width: 321px) {
    .kon, .kind, .table {
        width: 119px !important;
        height: 110px !important;
    }
    .animateRocket {
        width: 400px!important;
        height: 400px!important;
        padding: 12rem!important;
        padding-left: 18.5rem!important;
        padding-top: 17rem!important;
        margin-bottom: 2rem;
    }
}