.bootstrap__table {
    display: grid;
    grid-template-columns: 1.166666667fr 0.833333333fr;
    height: 1150px;
    width: 100%;
}

.bootstrap__tableLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    z-index: -1;
}

.bootstrap__tableLineOne {
    border-right: 1px solid #ededef;
    border-top: 1px solid #ededef;
}

.bootstrap__tableLineTwo {
    border-right: 1px solid #ededef;
}

.bootstrap__tableLineThree {
    border-right: 1px solid #ededef;
    border-bottom: 1px solid #ededef;
}


.bootstrap__tableRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.icon {
    position: absolute;
    z-index: 8;
    padding-top: 15rem;
    padding-left: 1.7rem;
    opacity: 0.6;
    width: 53rem;
    height: 64.5rem;
}

.icon2 {
    position: absolute;
    z-index: 7;
    padding-top: 15rem;
    width: 100%;
    height: 100%;
}

.icon3 {
    position: absolute;
    z-index: 9;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 45rem;
}

.icon4 {
    position: absolute;
    z-index: 10;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 45rem;
}

.bootstrap__tableRightInfo {
    position: absolute;
    padding-left: 6rem;
    width: 80%;
}

.bootstrap__tableTitle {
    font-weight: bold;
}

.bootstrap__tableTwoTitle {
    color: #000000;
    font-weight: bold;
}

.bootstrap__tableText {
    color: #000000;
    font-weight: 300;
}


/*BOOTSTRAP TABLE TWO*/


.bootstrap__tableTwo {
    display: grid;
    grid-template-columns: 0.833333333fr 1.166666667fr;
    height: 750px;
    width: 100%;
}

.bootstrap__tableTwoLeft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.bootstrap__tableTwoRight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
    z-index: -1;
}

.iconTableTwo {
    position: absolute;
    z-index: 7;
    width: 100%;
    object-fit: contain;
    padding-right: 2rem;
    padding-top: 5rem;
}

.icon2TableTwo {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding-left: 4rem;
    object-fit: contain;
    padding-right: 2rem;
    padding-top: 7.7rem;
}

.icon3TableTwo {
    position: absolute;
    z-index: 9;
    object-fit: contain;
    width: 49rem;
    padding-left: 6.5rem;
}

.bootstrap__tableTwoLeftInfo {
    position: absolute;
    padding-left: 7.6rem;
    width: 90%;
}


/*BOOTSTRAP TABLE THREE*/

.icon2TableThree {
    position: absolute;
    z-index: 8;
    padding-top: 12rem;
    padding-left: 2.5rem;
    opacity: 0.6;
    width: 95%;
}

.iconTableThree {
    position: absolute;
    z-index: 7;
    padding-top: 10rem;
    width: 100%;
}

.icon3TableThree {
    position: absolute;
    z-index: 9;
    margin-left: 2rem;
    padding-top: 14rem;
    width: 53.8rem;
    height: 90%;
}

.icon4TableThree {
    position: absolute;
    z-index: 10;
    margin-left: 2.4rem;
    width: 53rem;
    height: 100%;
}

.bootstrap__tableRightInfo {
    position: absolute;
}

.bootstrap__tableTitle {
}

.bootstrap__tableTwoTitle {
    font-weight: bold;
}

.bootstrap__tableText {
}

.bootstrap__marginTop {
    margin-top: 180px;
}

.bootstrap__tableTwoLeftInfoContent {
    margin-top: 180px;
    margin-bottom: 23px;
}

.bootstrap_tableRightContentTitle {
    margin-top: 180px;
    margin-bottom: 23px;
}

@media (max-width: 1025px) {
    .bootstrap__table {
        height: 802px;
    }

    .icon4 {
        position: absolute;
        z-index: 10;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 30rem;
    }

    .icon3 {
        margin-top: 10rem;
        margin-left: 4rem;
        width: 30rem;
    }

    .icon {
        padding-top: 15rem;
        padding-left: 1.7rem;
        opacity: 0.6;
        width: 34rem;
        height: 43rem;
    }

    .icon2 {
        height: 70%;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 2.3rem;
    }

    .bootstrap__tableText {
        font-size: 0.9rem;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .icon3TableTwo {
        width: 37rem;
        padding-right: 3rem;
        padding-left: 4.1rem;
    }

    .icon2TableTwo {
        width: 38rem;
        height: 100%;
        padding-left: 2rem;
        object-fit: contain;
        padding-right: 2rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
    }

    .icon2TableTwo {
        width: 37rem;
        height: 100%;
        padding-left: 1rem;
        object-fit: contain;
        padding-right: 1rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 6.6rem;
    }
    .icon4TableThree {
        position: absolute;
        z-index: 10;
        margin-left: 2rem;
        width: 37rem;
        height: 100%;
    }
    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 9rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
    }
    .icon4TableThree {
        position: absolute;
        z-index: 10;
        margin-left: 2rem;
        width: 37rem;
        height: 100%;
    }
}

@media (max-width: 769px) {
    .bootstrap__table {
        height: 682px;
    }

    .icon4 {
        position: absolute;
        z-index: 10;
        margin-top: 10rem;
        margin-left: 4rem;
        width: 25rem;
    }

    .icon3 {
        margin-top: 10rem;
        margin-left: 4rem;
        width: 25rem;
    }

    .icon {
        padding-top: 7rem;
        padding-left: 1.7rem;
        opacity: 0.6;
        width: 25rem;
        height: 43rem;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 14rem;
        width: 33rem;
        height: 45rem;
    }

    .bootstrap__tableText {
        font-size: 0.9rem;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 1rem;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1.5rem;
    }

    .icon3TableTwo {
        width: 28rem;
        padding-right: 3rem;
        padding-left: 3.1rem;
    }

    .icon2TableTwo {
        width: 27rem;
        height: 73%;
        /* padding-left: 1rem; */
        object-fit: contain;
        padding-right: 1rem;
        padding-top: 0rem;
        padding-bottom: 6rem;
    }

    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 100%;
        object-fit: contain;
        padding-right: 2rem;
        padding-top: 5rem;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 4.6rem;
    }

    .bootstrap__tableTitle {
        font-size: 1.6rem;
    }
    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 10rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
    }
    .icon4TableThree {
        width: 26rem;
    }
    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 5rem;
        padding-left: 2rem;
        opacity: 0.6;
        width: 100%;
        height: 90%;
    }
    .bootstrap__tableRightInfo {
        position: absolute;
        padding-left: 3rem;
    }
}

@media (max-width: 426px) {
    .bootstrap__table {
        height: 372px;
    }

    .bootstrap__tableTwoLeftInfo {
        padding-left: 2.6rem;
    }

    .icon3TableTwo {
        width: 15.5rem;
        padding-left: 1.1rem;
        padding-right: 2rem;
    }

    .icon2TableTwo {
        width: 15.9rem;
        height: 49%;
        /* padding-left: 1rem; */
        object-fit: contain;
        /* padding-right: 1rem; */
        padding-top: 0rem;
        padding-bottom: 6rem;
        margin-left: -0.5rem;
    }

    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 15rem;
        object-fit: contain;
        /* padding-right: 2rem; */
        padding-top: 1rem;
    }

    .icon4 {
        margin-top: 4rem;
        margin-left: 1rem;
        width: 14.6rem;
    }

    .icon3 {
        margin-top: 4rem;
        margin-left: 1rem;
        width: 14.6rem;
    }

    .icon {
        padding-top: 0rem;
        padding-left: 0.4rem;
        opacity: 0.6;
        width: 16.4rem;
        height: 28rem;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 6rem;
        width: 17rem;
        height: 23rem;
    }

    .bootstrap__tableTitle {
        font-size: 0.8rem !important;
    }

    .bootstrap__tableText {
        font-size: 0.3rem !important;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.6rem !important;
    }

    h1.bootstrap__tableTitle.bootstrap__marginTop {
        font-size: 1.5rem;
    }

    .bootstrap__tableRightInfo {
        padding-left: 3rem;
    }

    .bootstrap__marginTop {
        margin-top: 92px;
    }

    .bootstrap__tableTwoLeftInfoContent {
        margin-top: 35px;
    }

    .bootstrap__tableTwo {
        height: 302px;
    }
    .icon4TableThree {
        width: 15rem;
        margin-left: 0.5rem;
    }
    .icon2TableThree {
        position: absolute;
        z-index: 8;
        padding-top: 2rem;
        padding-left: 0.6rem;
        opacity: 0.6;
        width: 100%;
        height: 90%;
    }
    .iconTableThree {
        position: absolute;
        z-index: 7;
        padding-top: 4rem;
        width: 100%;
    }
    .bootstrap__tableRightInfo {
        padding-left: 1rem;
    }
    .bootstrap_tableRightContentTitle {
        margin-top: 78px;
        margin-bottom: 14px;
    }
}

@media (max-width: 376px) {
    .icon3, .icon4 {
        width: 12.6rem;
    }
    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 6rem;
        width: 15rem;
        height: 21rem;
    }
    .icon {
         padding-top: 0rem;
         padding-left: 0.4rem;
         opacity: 0.6;
         width: 15.4rem;
         height: 25rem;
     }
    .bootstrap__tableTitle {
        font-size: 0.6rem !important;
        font-weight: bold;
        margin-bottom: 0.6rem !important;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.5rem !important;
    }

    .bootstrap__tableText {
        margin-bottom: 30px !important;
    }
    .icon2TableThree {
        width: 96%;
    }
    .icon4TableThree {
        width: 13rem;
        margin-left: 0.5rem;
    }
    .iconTableThree {
        position: absolute;
        z-index: 7;
        padding-top: 5rem;
        width: 100%;
    }
}

@media (max-width: 321px) {
    .bootstrap__table {
        height: 321px;
    }
    .icon4, .icon3 {
        margin-top: 3rem;
        margin-left: 1rem;
        width: 11.6rem;
    }

    .icon2 {
        position: absolute;
        z-index: 7;
        padding-top: 4rem;
        width: 14rem;
        height: 18.5rem;
    }

    .icon {
        padding-top: 0rem;
        padding-left: 0.4rem;
        opacity: 0.6;
        width: 13.4rem;
        height: 21rem;
    }

    .bootstrap__tableRightInfo {
        padding-left: 2rem;
    }

    .bootstrap__tableText {
        margin-bottom: 20px !important;
    }

    .bootstrap__marginTop {
        margin-top: 78px;
    }

    .bootstrap__tableTwoTitle {
        font-weight: bold;
        font-size: 0.4rem !important;
    }

    .icon3TableTwo {
        width: 11.5rem;
        padding-left: 1.1rem;
    }

    .icon2TableTwo {
        width: 11.9rem;
        height: 17.2rem;
        margin-left: -0.5rem;
    }
    .iconTableTwo {
        position: absolute;
        z-index: 7;
        width: 11.5rem;
        object-fit: contain;
        /* padding-right: 2rem; */
        padding-top: 1rem;
        height: 10rem;
    }
    .icon4TableThree {
        width: 11rem;
        margin-left: 0.5rem;
    }
}