.star__project {
    position: relative;
    z-index: 10;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    background: #ededef;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: -200px;
}

.star__projectSloy {
    position: relative;
    z-index: 2;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 26%, 100% 76%, 50% 63%, 0 63%, 0 13%);
    background: #966cfd;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.star__imageBack {
    position: relative;
    z-index: 3;
    width: 100%;
    filter: blur(35px);
}


.star__projectRowContent {
    position: absolute;
    z-index: 333;
    height: 600px;
    width: 100%;
}

h1.star__projectLeftTitle {
    padding-bottom: 1.5rem;
}

.star__projectRowContentLeft {
    padding-top: 16rem;
    padding-left: 6.5rem;
}

.star__projectRowContentRight {
    padding-top: 12rem;
}

.container-for-iconVector {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

.btnStar {
    position: absolute;
    z-index: 9999;
    width: 13.5rem;
    height: 2.4rem;
    background: #7737ff;
    opacity: 2;
    border-radius: 32px;
    /*filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    margin-top: 0rem;
    margin-left: 6rem;
}

.btnStarMovement {
    position: absolute;
    z-index: 9999;
    width: 13.5rem;
    height: 2.4rem;
    background: #7737ff;
    opacity: 2;
    border-radius: 32px;
    /*filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    margin-top: 0rem;
    margin-left: 6rem;
    animation: btnStar 3s infinite;
}
@-webkit-keyframes btnStar {
    0% {
        margin-left: 6rem;
    }
    50% {
        margin-left: 4.5rem;
    }
    100% {
        margin-left: 6rem;
    }
}

@keyframes btnStar {
    0% {
        margin-left: 6rem;
    }
    50% {
        margin-left: 4.5rem;
    }
    100% {
        margin-left: 6rem;
    }
}

.btnStar-twoSloy {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 32px;
    background-color: #7737ff;
    border: 1px solid #c000ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnStar-threeSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #c000ff;
}

.btnStar-threeSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #c000ff;
}

.btnStar-fourSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #c000ff;
}

.btnStar-fourSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #c000ff;
}

.btnStar-fourSloyTitle {
    padding: 0.5rem;
    color: #ffffff;
}

.ellipse-btnStarBefore {
    width: 1rem;
    height: 1rem;
    border-radius: 11px;
    background-color: #c000ff;
    margin-right: 1rem;
    cursor: pointer;
}

.ellipse-btnStarAfter {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 11px;
    background-color: blue;
    margin-right: 2rem;
    margin-left: 11.5rem;
    cursor: pointer;
}


.link__starPorject {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.iconDown {
    height: 30px;
    width: 30px;
}

@media (max-width: 1441px) {
    .star__projectLeftTitle {
        font-size: 2rem;
    }
    .star__projectRowContentRight {
        padding-top: 9rem;
    }
    .btnStar {
        margin-top: -1rem;
        margin-left: 5rem;
    }

    .btnStarMovement {
        margin-top: -1rem;
        margin-left: 5rem;
    }
}

@media (max-width: 1025px) {
    .star__project, .star__projectSloy, .star__imageBack, .star__projectRowContent {
        min-height: 700px;
    }

    .star__projectLeftTitle {
        font-size: 1.5rem;
    }

    h1.star__projectLeftTitle {
        padding-bottom: 0.5rem;
    }
    .star__projectRowContentRight {
        width: 50%;
        padding-top: 5.5rem;
    }

    .star__projectRowContentLeft {
        padding-top: 13rem;
        padding-left: 5.5rem;
        width: 50%;
    }

    .star__projectLeftTitle {
        font-size: 1.32rem;
    }

    .iconDown {
        height: 25px;
        width: 25px;
    }
    .btnStar {
        width: 9.5rem;
        height: 1.7rem;
        margin-top: -2rem;
        margin-left: 4rem;
    }

    .btnStarMovement {
        width: 9.5rem;
        height: 1.7rem;
        margin-top: -2rem;
        margin-left: 4rem;
    }

    .btnStar-twoSloy {
        width: 9.5rem;
        height: 1.7rem;
    }

    .btnStar-threeSloyBefore, .btnStar-fourSloyBefore {
        width: 6.5rem;
        height: 1.7rem;
    }

    .btnStar-threeSloyAfter, .btnStar-fourSloyAfter {
        width: 9.5rem;
        height: 1.7rem;
    }

    .btnStar-fourSloyTitle {
        font-size: 0.72rem;
        padding-top: 0.5rem;
        padding-left: 0.4rem;
    }

    .ellipse-btnStarBefore {
        width: 0.7rem;
        height: 0.7rem;
    }

    .ellipse-btnStarAfter {
        width: 0.7rem;
        height: 0.7rem;
        margin-left: 8rem;
    }

    .star__project {
        margin-bottom: -135px;
    }
}

@media (max-width: 769px) {
    .star__project {
        margin-bottom: -168px;
    }
    .star__project, .star__projectSloy, .star__imageBack, .star__projectRowContent {
        min-height: 600px;
    }

    .star__imageBack {
        min-height: 697px;
        margin-top: -29px;
    }

    .star__projectRowContentLeft {
        padding-top: 11rem;
        padding-left: 2.22rem;
        width: 50%;
    }

    .container-for-iconVector {
        width: 100px;
        height: 100px;
    }

    .star__projectRowContentRight {
        padding-top: 5rem;
        width: 50%;
    }

    h1.star__projectLeftTitle {
        padding-bottom: 1rem;
        font-size: 1.3rem;
    }

    .btnStar {
        width: 8rem;
        height: 1.4rem;
        margin-top: 4rem;
        margin-left: 1.5rem;
    }

    .btnStar-twoSloy {
        width: 8rem;
        height: 1.4rem;
    }

    .btnStar-threeSloyBefore, .btnStar-fourSloyBefore {
        width: 4.7rem;
        height: 1.4rem;
    }

    .btnStar-fourSloyTitle {
        font-size: 0.6rem;
        padding-top: 0.33rem;
        padding-left: 0.33rem;
    }

    .ellipse-btnStarBefore {
        width: 0.6rem;
        height: 0.6rem;
    }
}

@media (max-width: 426px) {
    .star__project, .star__projectSloy, .star__imageBack, .star__projectRowContent {
        min-height: 300px;
    }

    .star__imageBack {
        margin-top: -16px;
    }

    .star__projectRowContentLeft {
        padding-top: 5rem;
        padding-left: 1.5rem;
        width: 50%;
    }

    .star__projectRowContentRight {
        padding-top: 0rem;
        margin-left: -2rem;
    }

    .iconDown {
        height: 8px;
        width: 13px;
    }

    h1.star__projectLeftTitle {
        padding-bottom: 0.2rem;
        font-size: 0.6rem;
    }

    .btnStar, .btnStar-twoSloy {
        width: 4.5rem;
        height: 0.9rem;
    }
    .btnStar {
        margin-top: 1rem;
        margin-left: 3.7rem;
    }

    .btnStar-threeSloyBefore, .btnStar-fourSloyBefore {
        width: 3rem;
        height: 0.9rem;
    }

    .btnStar-fourSloyTitle {
        font-size: 5.2px;
        padding-top: 0.35rem;
        padding-left: 0.4rem;
    }

    .ellipse-btnStarBefore {
        width: 0.4rem;
        height: 0.4rem;
        margin-right: 0.5rem;
    }
    .star__project {
        margin-bottom: -64px;
    }
    .ellipse-btnStarBefore {
        width: 0.4rem!important;
        height: 0.4rem!important;
    }
}

@media (max-width: 376px) {
    h1.star__projectLeftTitle {
        padding-bottom: 0.2rem;
        font-size: 0.55rem;
    }
    img.star__imageBack {
        margin-top: -20px;
    }
    .star__projectRowContentRight {
        padding-top: 0.3rem;
        margin-left: -3.6rem;
    }
    .btnStar {
        margin-top: 1rem;
        margin-left: 4rem;
    }
    .btnStar, .btnStar-twoSloy {
        width: 3.6rem;
        height: 0.7rem;
    }
    .btnStar-threeSloyBefore, .btnStar-fourSloyBefore {
        width: 2.2rem;
        height: 0.7rem;
    }
    .btnStar-fourSloyTitle {
        font-size: 3.7px;
        padding-top: 0.25rem;
        padding-left: 0.2rem;
    }
    .ellipse-btnStarBefore {
        width: 0.4rem!important;
        height: 0.4rem!important;
        margin-right: 0.4rem;
    }
}

@media (max-width: 326px) {
    .star__project, .star__projectSloy, .star__imageBack, .star__projectRowContent {
        min-height: 262px;
    }
    .btnStar {
        margin-top: 1rem;
        margin-left: 5rem;
    }
    h1.star__projectLeftTitle {
        padding-bottom: 0.2rem;
        font-size: 0.45rem;
    }

    .star__imageBack {
        min-height: 256px;
    }
    .btnStar, .btnStar-twoSloy {
        width: 3.2rem;
        height: 0.6rem;
    }
    .btnStar-threeSloyBefore, .btnStar-fourSloyBefore {
        width: 2rem;
        height: 0.6rem;
    }
    .ellipse-btnStarBefore {
        width: 0.3rem!important;
        height: 0.3rem!important;
        margin-right: 0.3rem;
    }
    .btnStar-fourSloyTitle {
        font-size: 3px;
        padding-top: 0.25rem;
        padding-left: 0.2rem;
    }
    .star__projectRowContentRight {
        margin-left: -5.5rem;
        margin-top: -2rem;
    }
    .ellipse-btnStarBefore {
        width: 0.25rem!important;
        height: 0.25rem!important;
    }
}
