.ten {
    position: relative;
    z-index: -1;
    min-height: 900px;
    width: 100%;
    margin-bottom: -235px;
}

.tenSloy {
    position: relative;
    z-index: 1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 61%, 50% 74%, 0 74%, 0 13%);
    background: #4200ff;

    width: 100%;
}

.ten__img {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 742px;
}
.ten__content {
    position: absolute;
    z-index: 3;
    width: 100%;
}

.ten__contentLeftTitle {
    padding-top: 16rem;
    padding-left: 6rem;
    color: #ffffff;
    font-weight: bold;
}

.ten__yog {
    position: absolute;
    height: 585px;
    object-fit: contain;
    width: 570px;
    margin-left: 48rem;
    margin-top: 5rem;
     -webkit-animation: tenyog 1.2s infinite;
     animation: tenyog 1.2s infinite;
}
@-webkit-keyframes tenyog{
    0% {
        margin-top: 5rem;
    }
    50% {
        margin-top: 5.7rem;
    }
    100% {
        margin-top: 5rem;
    }
}

@keyframes tenyog{
    0% {
        margin-top: 5rem;
    }
    50% {
        margin-top: 5.7rem;
    }
    100% {
        margin-top: 5rem;
    }
}

.ellipse {
    position: absolute;
    z-index: 9999;
    background-color: #3f00fd;
    width: 123px;
    height: 30px;
    opacity: 0.3;
    border-radius: 110px / 30px;
    margin-top: -15rem;
    margin-left: 62rem;
    /*-webkit-animation: tenellipse 1.2s infinite;*/
    /*animation: tenellipse 1.2s infinite;*/
}

/*@-webkit-keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/

/*@keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/

@media (max-width: 1025px) {
    .ten {
        margin-bottom: -157px;
    }
    .ten__contentLeftTitle {
        padding-top: 12rem;
        padding-left: 2rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 45px;
    }
    .ten, .tenSloy, .ten__img {
        min-height: 600px;
    }

    .ten__yog {
        position: absolute;
        height: 362px;
        object-fit: contain;
        width: 540px;
        margin-left: 30rem;
        animation: tenyog1024 2s infinite!important;
    }
    .ellipse {
        margin-top: -10rem;
        margin-left: 42.5rem;
        -webkit-animation: tenellipse1024 2s infinite!important;
        animation: tenellipse1024 2s infinite!important;
    }
    @-webkit-keyframes tenellipse1024{
        0% {
            margin-top: -10.5rem;
        }
        50% {
            margin-top: -10rem
        }
        100% {
            margin-top: -10.5rem;
        }
    }

    @keyframes tenellipse1024{
        0% {
            margin-top: -10.5rem;
        }
        50% {
            margin-top: -10rem
        }
        100% {
            margin-top: -10.5rem;
        }
    }
    @-webkit-keyframes tenyog1024{
        0% {
            margin-top: 5rem;
        }
        50% {
            margin-top: 5.5rem;
        }
        100% {
            margin-top: 5rem;
        }
    }

    @keyframes tenyog1024{
        0% {
            margin-top: 5rem;
        }
        50% {
            margin-top: 5.5rem;
        }
        100% {
            margin-top: 5rem;
        }
    }
}

@media (max-width: 769px) {
    .ten {
        margin-bottom: -128px;
    }
    .ten, .tenSloy, .ten__img {
        min-height: 500px;
    }
    .ten__yog {
        position: absolute;
        height: 253px;
        object-fit: contain;
        width: 449px;
        margin-left: 19rem;
        animation: tenyog768 2s infinite!important;
    }
    .ellipse {
        margin-left: 31rem;
        margin-top: -9rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite!important;
    }
    .ten__contentLeftTitle {
        padding-top: 10rem;
        padding-left: 2rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 32px;
    }
    @-webkit-keyframes tenellipse768{
        0% {
            margin-top: -8.5rem;
        }
        50% {
            margin-top: -9rem;
        }
        100% {
            margin-top: -8.5rem;
        }
    }

    @keyframes tenellipse768{
        0% {
            margin-top: -8.5rem;
        }
        50% {
            margin-top: -9rem;
        }
        100% {
            margin-top: -8.5rem;
        }
    }
    @-webkit-keyframes tenyog768{
        0% {
            margin-top: 5rem;
        }
        50% {
            margin-top: 5.7rem;
        }
        100% {
            margin-top: 5rem;
        }
    }

    @keyframes tenyog768{
        0% {
            margin-top: 5rem;
        }
        50% {
            margin-top: 5.7rem;
        }
        100% {
            margin-top: 5rem;
        }
    }
}

@media (max-width: 426px) {
    .ten {
        margin-bottom: -72px;
    }
    .ten, .tenSloy, .ten__img {
        min-height: 275px;
    }
    .ten__yog {
        position: absolute;
        height: 151px;
        object-fit: contain;
        width: 190px!important;
        margin-left: 12rem;
        margin-top: 2.5rem;
        animation: tenyog425 2s infinite!important;
    }
    .ellipse {
        margin-left: 16.8rem!important;
        margin-top: -5rem;
        width: 39px;
        height: 11px;
        animation: tenellipse425 2s infinite!important;
    }
    .ten__contentLeftTitle {
        padding-top: 6rem;
        padding-left: 1rem;
        font-size: 17px;
    }
    @-webkit-keyframes tenellipse425{
        0% {
            margin-top: -5rem;
        }
        50% {
            margin-top: -5.1rem;
        }
        100% {
            margin-top: -5rem;
        }
    }

    @keyframes tenellipse425{
        0% {
            margin-top: -5rem;
        }
        50% {
            margin-top: -5.1rem;
        }
        100% {
            margin-top: -5rem;
        }
    }

    @-webkit-keyframes tenyog425{
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

    @keyframes tenyog425{
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

}

@media(max-width: 376px) {
    .formRequest {
        width: 100%;
        margin-top: 1rem;
    }
    .ten__yog {
        position: absolute;
        height: 152px;
        object-fit: contain;
        width: 222px;
        margin-left: 11rem;
        margin-top: 2.5rem;
        animation: tenyog375 1s infinite!important;
    }

    .ellipse {
        margin-left: 15.75rem!important;
        margin-top: -5rem;
        animation: tenellipse375 1s infinite!important;
    }
    @-webkit-keyframes tenellipse375{
        0% {
            margin-top: -5rem;
        }
        50% {
            margin-top: -4.5rem;
        }
        100% {
            margin-top: -5rem;
        }
    }

    @keyframes tenellipse375{
        0% {
            margin-top: -5rem;
        }
        50% {
            margin-top: -4.5rem;
        }
        100% {
            margin-top: -5rem;
        }
    }
    .ten__contentLeftTitle {
        padding-top: 6rem;
        padding-left: 1.6rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 14px;
    }
    @-webkit-keyframes tenyog375{
        0% {
            margin-top: 2.5rem;
        }
        50% {
            margin-top: 2.8rem;
        }
        100% {
            margin-top: 2.5rem;
        }
    }

    @keyframes tenyog375{
        0% {
            margin-top: 2.5rem;
        }
        50% {
            margin-top: 2.8rem;
        }
        100% {
            margin-top: 2.5rem;
        }
    }
}

@media(max-width: 321px) {
    .ten, .tenSloy, .ten__img {
        min-height: 230px;
    }
    .ten__yog {
        position: absolute;
        height: 125px;
        object-fit: contain;
        width: 123px!important;
        margin-left: 11rem;
        margin-top: 2.5rem;
        animation: tenyog320 3s infinite!important;
    }
    .ellipse{
        margin-left: 13.5rem!important;
        margin-top: -4.2rem;
        animation: tenellipse320 3s infinite!important;
    }
    .ten__contentLeftTitle {
        padding-top: 5rem;
        padding-left: 1.6rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
    }
    @-webkit-keyframes tenellipse320 {
        0% {
            margin-top: -4.2rem;
        }
        50% {
            margin-top: -4.5rem;
        }
        100% {
            margin-top: -4.2rem;
        }
    }

    @keyframes tenellipse320 {
        0% {
            margin-top: -4.2rem;
        }
        50% {
            margin-top: -4.5rem;
        }
        100% {
            margin-top: -4.2rem;
        }
    }
    @-webkit-keyframes tenyog320{
        0% {
            margin-top: 2.5rem;
        }
        50% {
            margin-top: 2.8rem;
        }
        100% {
            margin-top: 2.5rem;
        }
    }

    @keyframes tenyog320{
        0% {
            margin-top: 2.5rem;
        }
        50% {
            margin-top: 2.8rem;
        }
        100% {
            margin-top: 2.5rem;
        }
    }

}
