.clip-path {
    -webkit-clip-path: polygon(49% 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(49% 0, 100% 0, 100% 100%, 50% 100%);
    /*background: yellow;*/
    width: 52rem;
    height: 66rem;
    padding-top: 2rem;
}

.logo__container {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: 5rem;
    /*background: red;*/
    margin-left: 2rem;
    animation: circleIcons 10s infinite;

}

@-webkit-keyframes circleIcons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
}

@keyframes circleIcons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.karcher {
    position: absolute;
    z-index: 22;
    width: 150px;
    height: 100px;
    margin-left: 26rem;
    margin-top: -1rem;
    animation: iconRotate 10s infinite;
}


.lactalis {
    margin-top: -3rem;
    width: 20rem;
    margin-left: 24rem;
    animation: iconRotate 10s infinite;

}

@-webkit-keyframes iconRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes iconRotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.why__me {
    position: relative;
    z-index: -1;
    height: 1000px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    width: 100%;
}

.why__meSloy {
    position: relative;
    z-index: 1;
    height: 1000px;
    width: 100%;
    clip-path: polygon(50% 0, 100% 0, 100% 62%, 50% 62%, 0 75%, 0 13%);
    background: #966cfd;
}

.why__meImageBack {;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1000px;
    margin-top: -75px;
    filter: blur(35px);
}

.why_meContent {
    position: absolute;
    z-index: 333;
    width: 100%;
}

.why__meContentLeft {
}

.why__meContentRight {
    padding: 7rem;
}

.whyme__title {
    font-weight: bold;
    color: #ffffff;
}

.whyme__titleFirst {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.whyme__text {
    color: #ffffff;
    font-size: 13px;
    font-weight: 200;
}

.why__meImg {
    width: 200px;
    height: 100px;
}

.goprint {
    margin-top: 1rem;
    width: 340px;
    height: 80px;
    margin-left: 27rem;
    animation: iconRotate 10s infinite;

}

.ukrtelecom {
    margin-top: 3rem;
    width: 240px;
    height: 78px;
    margin-left: 10rem;
    animation: iconRotate 10s infinite;

}

.danfoss {
    margin-top: -10rem;
    height: 25rem;
    margin-left: 20rem;
    animation: iconRotate 10s infinite;
}

.ct {
    margin-top: -6rem;
    margin-left: 29rem;
    width: 17rem;
    animation: iconRotate 10s infinite;
}


.inmore {
    margin-top: -47rem;
    margin-left: -44rem;
    height: 24rem;
    animation: iconRotate 10s infinite;
}

.listery {
    margin-top: -20rem;
    margin-left: -21rem;
    height: 157px;
    animation: iconRotate 10s infinite;
}

.ukt {
    height: 191px;
    margin-top: -1rem;
    margin-left: 28rem;
    animation: iconRotate 10s infinite;
}

.total {
    margin-top: -10rem;
    margin-left: -12rem;
    width: 35rem;
    animation: iconRotate 10s infinite;
}

.goprint {
    margin-top: -84rem;
    width: 600px;
    height: 600px;
    margin-left: -12rem;
    animation: iconRotate 10s infinite;
}

@media (max-width: 1025px) {
    .why__me, .why__meSloy {
        height: 600px;
    }

    .why__meImageBack {
        height: 678px;
        margin-top: -33px;
    }

    .why__meContentRight {
        padding: 1rem;
        padding-left: 7rem;
    }


    .whyme__titleFirst {
        font-size: 2.2rem;
    }

    .whyme__title {
        font-size: 1.8rem;
    }

    .why__meContentRight {
        padding: 3rem;
        padding-left: 6rem;
    }

    .whyme__text {
        font-size: 0.8rem;
    }

    .clip-path {
        width: 38rem;
    }

    .logo__container {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-top: 5rem;
        /* background: red; */
        margin-left: 1rem;
        animation: circleIcons 10s infinite;
    }

    .goprint {
        margin-top: 1rem;
        width: 340px;
        height: 80px;
        margin-left: 27rem;
        animation: iconRotate 10s infinite;

    }

    .ukrtelecom {
        margin-top: 3rem;
        width: 240px;
        height: 78px;
        margin-left: 10rem;
        animation: iconRotate 10s infinite;

    }

    .danfoss {
        margin-top: -12rem;
        height: 19rem;
        margin-left: 14rem;
        animation: iconRotate 10s infinite;
    }

    .ct {
        margin-top: -8rem;
        margin-left: 22rem;
        width: 12rem;
        animation: iconRotate 10s infinite;
    }

    .goprint {
        margin-top: -3rem;
        width: 400px;
        height: 400px;
        margin-left: -4rem;
        animation: iconRotate 10s infinite;
    }

    .inmore {
        margin-right: 5rem;
        margin-top: -85rem;
        height: 20rem;
        width: 20rem;
        animation: iconRotate 10s infinite;
        padding-left: -14rem;
    }


    .listery {
        margin-top: -20rem;
        margin-left: -21rem;
        height: 157px;
        animation: iconRotate 10s infinite;
    }

    .ukt {
        height: 170px;
        margin-top: -4rem;
        margin-left: 23rem;
        animation: iconRotate 10s infinite;
    }

    .lactalis {
        margin-top: -5.5rem;
        width: 14rem;
        margin-left: 20rem;
        animation: iconRotate 10s infinite;
    }

    .total {
        margin-top: -4rem;
        margin-left: -15rem;
        width: 25rem;
        animation: iconRotate 10s infinite;

    }
}

@media (max-width: 769px) {
    .why__me, .why__meSloy {
        height: 500px;
    }

    .why__meImageBack {
        height: 510px;
    }

    img.star__imageBack {
        margin-top: -33px;
    }

    .whyme__titleFirst {
        font-size: 1.4rem;
    }

    .whyme__title {
        font-size: 1.1rem;
    }

    .whyme__text {
        font-size: 12px !important;
    }

    .why__meContentRight {
        padding: 2rem;
        padding-left: 5rem;
    }

    .goprint {
        margin-top: 0rem;
        width: 15rem !important;
        height: 12rem !important;
        animation: iconRotate 10s infinite;
    }

    .ukrtelecom {
        margin-top: 3rem;
        width: 240px;
        height: 78px;
        margin-left: 10rem;
        animation: iconRotate 10s infinite;

    }

    .danfoss {
        margin-top: -14rem;
        height: 19rem;
        margin-left: 8rem;
        animation: iconRotate 10s infinite;
    }

    .ct {
        margin-top: -10rem;
        margin-left: 14rem;
        width: 11rem;
        animation: iconRotate 10s infinite;
    }


    .inmore {
        margin-top: -47rem;
        margin-left: -20rem;
        height: 20rem;
        width: 20rem;
        animation: iconRotate 10s infinite;
        padding-left: -14rem;
    }

    .listery {
        margin-top: -25rem;
        margin-left: -20rem;
        height: 8rem;
        width: 11rem;
        animation: iconRotate 10s infinite;
    }

    .ukt {
        height: 170px;
        margin-top: -6rem;
        margin-left: 15rem;
        animation: iconRotate 10s infinite;
    }

    .lactalis {
        margin-top: -5.5rem;
        width: 14rem;
        margin-left: 13rem;
        animation: iconRotate 10s infinite;
    }

    .total {
        width: 15rem;
        height: 15rem;
        margin-top: -19rem;
        margin-left: 5rem;
        animation: iconRotate 10s infinite;
    }

    .clip-path {
        width: 28rem;
    }
}

@media (max-width: 426px) {
    .why__me, .why__meSloy {
        height: 300px;
    }

    .why__meImageBack {
        height: 280px;
    }

    .whyme__titleFirst {
        font-size: 0.9rem !important;
    }

    .whyme__title {
        font-size: 0.7rem;
        margin-bottom: 0.15rem;
        font-weight: bold;
    }

    .whyme__text {
        font-size: 5px !important;
        margin-bottom: 0.3rem !important;
    }

    .why__meContentRight {
        padding: 1.7rem;
        padding-left: 2.2rem;
    }

    .clip-path {
        width: 14.5rem;
    }

    .danfoss {
        margin-top: -12rem;
        height: 7rem;
        margin-left: 6rem;
        animation: iconRotate 10s infinite;
    }

    .ct {
        margin-top: -9rem;
        margin-left: 9rem;
        width: 4rem;
        height: 4rem;
        animation: iconRotate 10s infinite;
    }

    .goprint {
        width: 11rem!important;
        height: 8rem!important;
        margin-top: -3rem;
        margin-left: 3rem;
        margin-right: 5rem;
        animation: iconRotate 10s infinite;
    }

    .inmore {
        margin-top: -3rem;
        margin-left: -5rem;
        height: 6rem;
        width: 6rem;
        animation: iconRotate 10s infinite;
    }

    .listery {
        margin-top: -20rem;
        margin-left: -17rem;
        height: 5rem;
        width: 5rem;
        animation: iconRotate 10s infinite;
    }

    .ukt {
        height: 6rem;
        width: 6rem;
        margin-top: -6rem;
        margin-left: 9rem;
        animation: iconRotate 10s infinite;
    }

    .lactalis {
        margin-top: -3.5rem;
        width: 5rem;
        height: 5rem;
        margin-left: 8rem;
        animation: iconRotate 10s infinite;
    }

    .total {
        margin-top: -9rem;
        margin-left: 3rem;
        width: 7rem;
        height: 7rem;
        animation: iconRotate 10s infinite;
    }

    .logo__container {
        width: 50px;
        height: 50px;
        margin-left: 0rem;
    }
}

@media (max-width: 376px) {
    .why__me, .why__meSloy {
        height: 200px;
    }

    .whyme__titleFirst {
        font-size: 0.6rem !important;
    }

    .whyme__title {
        font-size: 0.45rem !important;
        font-weight: bold;
    }

    .whyme__text {
        font-size: 5px;
        line-height: 0.4rem;
        margin-bottom: 0.45rem;
    }

    .why__me, .why__meSloy {
        height: 181px;
    }

    .why__meImageBack {
        height: 247px;
        margin-top: -14px;
    }

    .why__meContentRight {
        padding: 0.9rem;
        padding-left: 2.6rem;
    }

    .whyme__titleFirst {
        margin-bottom: 0.5rem;
    }

    .clip-path {
        width: 13.5rem;
    }

    .danfoss {
        margin-top: -13rem;
        height: 7rem;
        width: 7rem;
        margin-left: 6rem;
        animation: iconRotate 10s infinite;
    }

    .ct {
        margin-top: -13rem;
        margin-left: 8rem;
        width: 3rem;
        height: 3rem;
        animation: iconRotate 10s infinite;
    }

    .goprint {
        width: 6rem!important;
        height: 5rem!important;
        margin-top: -3rem;
        margin-left: 7rem;
        margin-right: 5rem;
        animation: iconRotate 10s infinite;
    }

    .inmore {
        margin-top: -3rem;
        margin-left: -9rem;
        height: 6rem;
        width: 6rem;
        animation: iconRotate 10s infinite;
    }

    .listery {
        margin-top: -20rem;
        margin-left: -12rem;
        height: 5rem;
        width: 5rem;
        animation: iconRotate 10s infinite;
    }

    .ukt {
        height: 6rem;
        width: 6rem;
        margin-top: -13rem;
        margin-left: 8rem;
        animation: iconRotate 10s infinite;
    }

    .lactalis {
        margin-top: -11.5rem;
        width: 5rem;
        height: 5rem;
        margin-left: 8rem;
        animation: iconRotate 10s infinite;
    }

    .total {
        margin-top: -9rem;
        margin-left: 5rem;
        width: 7rem;
        height: 7rem;
        animation: iconRotate 10s infinite;
    }

    .logo__container {
        width: 50px;
        height: 50px;
        margin-left: 0rem;
    }
}

@media (max-width: 321px) {
    .why__meImageBack {
        height: 211px;
        margin-top: -14px;
    }

    .whyme__titleFirst {
        margin-bottom: 0.5rem;
    }

    .logo__container {
        width: 30px;
        height: 30px;
        margin-left: 0rem;
    }

    .clip-path {
        width: 13.5rem;
    }

    .danfoss {
        margin-top: -13rem;
        height: 7.5rem;
        width: 7.5rem;
        margin-left: 5.4rem;
        animation: iconRotate 10s infinite;
    }

    .ct {
        margin-top: -13rem;
        margin-left: 7rem;
        width: 3rem;
        height: 3rem;
        animation: iconRotate 10s infinite;
    }

    .goprint {
        width: 6rem!important;
        height: 5rem!important;
        margin-top: -3rem;
        margin-left: 4rem;
        /* margin-right: 5rem; */
        animation: iconRotate 10s infinite;
    }

    .inmore {
        margin-top: -3rem;
        margin-left: -7rem;
        height: 6rem;
        width: 6rem;
        animation: iconRotate 10s infinite;
    }

    .listery {
        margin-top: -20rem;
        margin-left: -14rem;
        height: 5rem;
        width: 5rem;
        animation: iconRotate 10s infinite;
    }

    .ukt {
        height: 5.5rem;
        width: 5.5rem;
        margin-top: -13rem;
        margin-left: 7rem;
        animation: iconRotate 10s infinite;
    }

    .lactalis {
        margin-top: -11.5rem;
        width: 4.5rem;
        height: 4.5rem;
        margin-left: 7rem;
        animation: iconRotate 10s infinite;
    }

    .total {
        margin-top: -9rem;
        margin-left: 3rem;
        width: 6rem;
        height: 6rem;
        animation: iconRotate 10s infinite;
    }

    .logo__container {
        width: 20px;
        height: 20px;
        margin-left: 0rem;
    }
}
