.why__me {
    position: relative;
    z-index: -1;
    height: 1000px;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 13%);
    width: 100%;
}

.why__meSloy {
    position: relative;
    z-index: 1;
    height: 1000px;
    width: 100%;
    clip-path: polygon(50% 0, 100% 0, 100% 62%, 50% 62%, 0 75%, 0 13%);
    background: #966cfd;
}

.why__meImageBack {;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 1000px;
}

.why_meContent {
    position: absolute;
    z-index: 333;
    width: 100%;
}

.why__meContentLeft {
}

.why__meContentRight {
    padding: 7rem;
}

.whyme__title {
    font-weight: bold;
    color:#ffffff;
}

.whyme__text {
    color: #ffffff;
}

/*.why__meLeft {*/
/*    position: relative;*/
/*    z-index: 3;*/
/*}*/

/*.why__meContent {*/
/*    position: absolute;*/
/*    z-index: 4;*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/

/*.why__meContentLeft {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 50%;*/
/*}*/


.karcher {
    width: 215px;
    height: 75px;
    margin-left: 10rem;
    margin-top: 5.5rem;
}

.lactel {
    margin-top: 2rem;
    width: 250px;
    height: 160px;
    margin-left: 19rem;
}

/*.why__meContentRight {*/
/*    width: 50%;*/
/*}*/

.goprint {
    margin-top: 3rem;
    width: 340px;
    height: 80px;
    margin-left: 18rem;
}

.ukrtelecom {
    margin-top: 3rem;
    width: 240px;
    height: 78px;
    margin-left: 8rem;
}

.danfos {
    margin-top: 2rem;
    width: 450px;
    height: 150px;
    margin-left: 22rem;
}

/*.why__meContentRight {*/
/*    margin-top: 11rem;*/
/*    margin-left: 16rem;*/
/*}*/

/*.whyme__title {*/
/*    font-size: 51px;*/
/*    line-height: 70px;*/
/*    color: #ffffff;*/
/*    font-weight: bold;*/
/*    margin-top: 1.5rem;*/
/*}*/

/*.whyme__text {*/
/*    font-size: 20px;*/
/*    font-weight: 300;*/
/*    color: #ffffff;*/
/*}*/

@media(max-width: 1024px) {
    .why__me, .why__meSloy{
        height: 600px;
    }
    .why__meImageBack {
        height: 678px;
    }
    .why__meContentRight {
        padding: 1rem;
    }
    .whyme__title {
        font-size: 1.8rem;
    }
    .why__meContentRight {
        padding: 3rem;
        padding-left: 6rem;
    }
    .whyme__text {
        font-size: 0.8rem;
    }
}

@media(max-width: 769px) {
    .why__me, .why__meSloy{
        height: 500px;
    }
    .why__meImageBack {
        height: 510px;
    }
    .whyme__title {
        font-size: 1.3rem;
    }
    .whyme__text {
        font-size: 0.4rem;
    }
    .why__meContentRight {
        padding: 2rem;
        padding-left: 3rem;
    }
}

@media(max-width: 426px) {
    .why__me, .why__meSloy{
        height: 300px;
    }
    .why__meImageBack {
        height: 280px;
    }
    .whyme__title {
        font-size: 0.8rem;
        margin-bottom: 0.15rem;
        font-weight: bold;
    }
    .whyme__text {
        font-size: 0.05rem;
        line-height: 0.4rem;
    }
    .why__meContentRight {
        padding: 1.7rem;
        padding-left: 2.2rem;
    }
}

@media(max-width: 376px) {
    .why__me, .why__meSloy{
        height: 200px;
    }
    .why__meImageBack {
        height: 248px;
    }
    .whyme__title {
        font-size: 0.45rem;
        margin-bottom: 0.15rem;
        font-weight: bold;
    }
    .whyme__text {
        font-size: 0.1rem;
        line-height: 0.4rem;
        margin-bottom: 0.45rem;
    }
    .why__me, .why__meSloy {
        height: 181px;
    }
    .why__meImageBack {
        height: 211px;
    }
}