.app {
    width: 100%;
}

.scroll {
    position: fixed;
    height: 12rem;
    width: 1px;
    z-index: 9999;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.scroll__border {
    width: 1px;
    height: 12rem;
    border-left: 1px solid gray;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.scroll__text {
    font-size: .825rem;
    font-weight: 500;
    width: 5rem;
    transform: rotate(
            270deg
    );
    cursor: pointer;
}

@media (max-width: 1025px) {
    .scroll {
        height: 10rem;
    }

    .scroll__text {
        font-size: .775rem;
    }
}

@media (max-width: 769px) {
    .scroll {
        height: 9rem;
        margin-top: 0.7rem;
    }

    .scroll__text {
        font-size: .525rem !important;
        padding-bottom: 0.2rem;
    }

    .scroll__border {
        width: 1px;
        height: 3.5rem;
        border-left: 1px solid gray;
        margin-top: 1.3rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 429px) {
    .scroll__text {
        font-size: .525rem !important;
        padding-bottom: 0rem;
    }

    .scroll__border {
        width: 1px;
        height: 3.5rem;
        border-left: 1px solid gray;
        margin-top: 1.9rem;
        margin-bottom: 0rem;
    }
}

@media (max-width: 415px) {
    .scroll {
        height: 9rem;
        margin-top: 0.7rem;
    }

    .scroll__text {
        font-size: .525rem !important;
        padding-bottom: 0.1rem;
    }
}

@media (max-width: 376px) {
    .scroll {
        margin-top: 0.5rem;
    }


    .scroll__text {
        font-size: 0.31rem !important;
        padding-bottom: 0;
    }

    .scroll__border {
        margin-top: 2.3rem;
    }
}

@media (max-width: 321px) {
    .scroll__text {
        font-size: .410rem !important;
        padding-bottom: 0;
    }
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #ffffff;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Individual item */
.bm-item {
    display: inline-block;
    text-decoration: none;
    font-family: "Work Sans";
    color: #000000;
    font-weight: 600;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu-item:hover {
    background: #b8b7ad;
    color: black;
    padding-left: 4.5%;
}

.menu-item {
    color: black;
    padding-left: 4.5%;
}

a#home {
    margin-top: 5%;
}

.bm-menu-wrap {
    width: 50% !important;
}


.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
}

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    /* height: auto; */
    height: 380px;
    margin-bottom: 2rem;
    margin-top: calc(95vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(14% - 3px);
    top: calc(95vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
}

.beforeHeader {
    padding-top: 90px;
}

/*test*/
.uayts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 100%;
}

.workMobile__titleProject {
    text-align: center;
    margin-top: -7%;
}

button#footerMobileContacts {
    outline: none;
}

button.btnMobile-starProject.btnInPopup {
    outline: none;
}

button.btnMobile-starProject {
    outline: none;
}

@media (max-width: 481px) {
    .box {
        width: 92%;
    }

    .bm-menu-wrap {
        width: 50% !important;
    }

    .close-icon {
        right: calc(2% - 3px);
    }
}
